body {
	background-image: url("Northeast.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top, right;
	color: #D5D9C7;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
	
	
}

#wrapper { width: 70%; margin: auto;
	padding: 1em;
	background-color: #5A6672;
	background: rgba(204, 204, 204, 0.4);
	
}

section { float: left;
			width: 33%;
			padding-left: 2em;
			padding-right: 2em;
}

.onehalf { float: left;
				width: 50%;
				padding-left: 2em;
				padding-right: 2em;
}

header { 
	text-align: center;
	
}

nav { text-align: center;
	
}

nav a {text-decoration:none; }
nav a:link {color: #D5D9C7; }
nav a:visited { color: #497777; }

footer { background-color: #5A6672;
	font-size: small;
	font-style: italic;
	text-align: center;

}


table { border: 1px solid #5A6672;
			border-collapse: collapse;
			margin-bottom: 2em;
			min-width: 400px;
			align-content: center;

}

td, th { padding: 0.5em;
		border: 1px solid #5A6672;
}

tr:nth-of-type(even) { background-color: #D7E8E9; }

caption { margin: 1em;
			font-weight: bold;
			font-size: 150%;
			text-align: center;
}


